<div>
	<h1>My Completed Projects</h1>
	<div id='project-area'></div>
	<% if @completed_projects.any? %>
		<% @completed_projects.each do |project| %>
			<div class='project'>
				<div class='project-title'><%= project.title %></div>
				<div class='project-date'><%= project.assigned_date.strftime("%m/%d/%Y") %></div>
				<div class='project-customer'><%= project.customer.first_name %></div>
				<div class='cost'>$<%= project.cost %></div>
			</div>
		<% end %>
	<% end %>
</div>