<div>
	<h1>My Current Projects</h1>
	<div id='project-area'></div>
	<% if @current_projects.any? %>
		<% @current_projects.each do |project| %>
			<div class='project'>
				<!-- @TODO: add developer assigned date column to project model -->
				<div class='project-title'><%= project.title %></div>
				<div class='project-date'><%#= project.assigned_date.strftime("%m/%d/%Y") %></div>
				<div class='project-customer'><%= project.customer.first_name %></div>
				<div class='cost'>$<%= project.cost %></div>
			</div>
		<% end %>
	<% end %>
</div>