<div id="tabs">
  <ul>
    <li><a href="#current">Current Projects</a></li>
    <li><a href="#completed">Completed Projects</a></li>
    <li><a href="#profile">Profile</a></li>
  </ul>
  <div id="current">
   <%= render 'current' %>
  </div>
  <div id="completed">
   <%= render 'completed' %>
  </div>
  <div id="profile">
  <%= render "profile" %>
  </div>
</div>