<html>
<head>
  <title>Homepage</title>
</head>
<body>
<h1> Homepage </h1>
  <div class="left_homepage_div">
    <h2> Latest Projects </h2>
      <section>
        <%= render "customer_partial" %>
      </section>
  </div>
  <div class="right_homepage_div">
    <h2> Developers </h2>
      <section>
        <article>
          [DEVELOPER PARTIAL #1]
        </article>
        <article>
          [DEVELOPER PARTIAL #2]
        </article>
        <article>
          [DEVELOPER PARTIAL #3]
        </article>
      </section>
  </div>

</body>
</html>
