<html>
<head>
  <title>Homepage</title>
</head>
<body>
  <header>
    <h1 class="search_results_title"> Project Search Results </h1>
  </header>
  <div class="search_results_div">
    <section>
      <%= render "search_results/search_partial" %>
    </section>
  </div>
<%= link_to 'Back', root_path %>
</body>
</html>

