<html>
<head>
  <title>Search Results</title>
</head>
<body>
 <div class="search_results_div">
    <section>
      <%= render "search_results/search_partial" %>
    </section>
  </div>
<%= button_to 'Back', root_path, class: "green-button", method: :get %>
</body>
</html>

