// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: #F85E28;
$green: #3E6C61;
$teal: #7DD1B9;
$purple: #4C4351;

main {
  padding-bottom: 3em;
  vertical-align: top;
  clear: both;
  display: block;
}

.search {
  top: -6em;
  right: 0em;
  display: inline-block;
  float: right;
  margin: auto 1em;
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #777;
  width: 100%;
  padding: 1.2em 0;
  opacity: 0.5
}

#search {
  font-size: 2em;
  padding-left: .5em;
  line-height: 1.57em;
}

input[type=image] {
  height: 1.57em;
  top: 1em;
  right: 4em;
  position: relative;
}

input[type=submit] {
  font-size: 1.5em;
  height: 2.2em;
}

input {
  vertical-align: top;
  border-radius: 5px;

}

button {
  float: right;
  clear: both;
  display: inline-block;
}

.cards {
  margin-bottom: 2em;
  display: block;
  width: 100%;
}

.group-image {
  height: 40em;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("group-pic.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    background-position: center;
    margin-left: -50px;
    margin-right: -50px
}

#account a:hover {
  color: $teal;
  text-decoration: underline;
}