// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: #F85E28;

main {
  padding-bottom: 3em;
  vertical-align: top;
  clear: both;
  display: block;
}

.logo {
  width: 2.2em;
  height: 1em;
}

.search {
  top: 2em;
  right: 0em;
  display: inline-block;
  float: right;
  margin-bottom: 1em;
  position: relative;
}
input[type=image] {
  height: 1.57em;
}
#search {
  width: 30em;
  font-size: 2em;
  padding-left: .5em;
  margin-right: .5em;
  line-height: 1.57em;
}

input[type=submit] {
  font-size: 1.5em;
  height: 2.2em;
}

input {
  vertical-align: top;
}

button {
  float: right;
  clear: both;
  display: inline-block;
}

.cards {
  margin-bottom: 2em;
  display: block;
  width: 100%;
}
